<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}

    <p>{{screamIt welcomeMessage}}</p>
    <p>Another text.</p>
    <p>Other Another text.</p>
    <p>Final Another text.</p>

    {{> footer}}
  </body>
</html>
